[2016-10-19 00:20] shankar78be opened #2 "Configuration File not loading"
Hi,

When i run the below command the icon is created only the svg file specified in the cmd line. I have specified 2 files in the webfont.config.json. How to create icons for the 2 SVG files specified in the json file.

cmd> webfont "src/assets/images/action-sheet-check.eps.svg"  --dest "src/assets/icons2"  -s "src/assets/icons2/dfw.css" --config "webfont.config.json"

webfont.config.json
=======

[2016-10-19 08:59] evilebottnawi commented on #2
@shankar78be Thanks for reporting

[2016-10-19 09:45] evilebottnawi commented on #2
@shankar78be you want create two fonts?

[2016-10-19 17:05] shankar78be commented on #2
Yes, I want to create web fonts for the 2 images specified in the config file
"src/assets/images/action-sheet-check.eps.svg"
"src/assets/images/arrow-left-black-sm.eps.svg"

[2016-10-19 18:04] evilebottnawi commented on #2
@shankar78be Poor understand, describe the problem in detail what you want to get and what you get is actually

[2016-10-19 19:01] shankar78be commented on #2
I have configured the package.json to generate the webfonts. In the prebuild, the webfont were configured with the following parameters input, dest & destcsstemplate. It works fine, created webfonts for the SVG images located inside the images folder.
"scripts": {
"prebuild": "webfont src/assets/images/*.svg  --dest src/assets/icons  -s src/assets/icons/dfw.css",
"start": "npm run server"
}

If I

[2016-10-19 19:16] evilebottnawi commented on #2
@shankar78be Thank you for the detailed description, it is now clear, tomorrow I'll see what I can do, i see you want give an opportunity use `files` (glob) and `dest*` options in `webfont.config.json`. Now it is supported only for CLI.

[2016-10-21 11:51] moimael opened #3 "Wrong syntax when not all format are selected"
HI,

I'm using webfont to generate woff and woff2 icon fonts. The problem is that the generated css file has a syntax error, so webpack is unable to process it.

[code]

Apart from the extra empty lines (which do not cause issue but are not pretty), you can see that src do not end with a semicolon as it should.

Thanks !

[2016-10-21 13:16] evilebottnawi commented on #3
@moimael can you show stacktrace error?

[2016-10-21 13:26] evilebottnawi commented on #3
@moimael thanks not show stacktrace, i see error, thanks for reporting!

[2016-10-21 13:38] evilebottnawi commented on #3
@moimael i have little time now, you can PR i would be glad, i can see it and decide next week

[2016-10-21 13:41] moimael commented on #3
I'll have a look next week ! Thanks !

[2016-10-24 14:49] evilebottnawi commented on #3
Done in `5.0.0` release.

[2016-10-24 14:49] #3 closed

[2016-10-25 13:45] evilebottnawi commented on #2
@shankar78be you can use `files` for CLI or in config file, it can not be used in both, i fixed this throw error if you use CLI and config file contain `files`.

[2017-01-20 03:31] greenkeeper[bot] opened #11 "An in-range update of babel-cli is breaking the build 🚨"
## Version **6.22.1** of [babel-cli](https://www.npmjs.com/package/babel-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-cli-6.22.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-cli
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-01-20 13:32] Prestapro opened #13 "Сonvert fonts from TTF to WOFF and WOFF2"
Hello,

I'm trying to use the plugin to convert not only SVG icons.
My task is to convert fonts from TTF to WOFF and WOFF2
I have not found a way to do this.

Best regards,
Alexandr

[2017-01-20 14:37] evilebottnawi commented on #13
@Prestapro thanks for feedback, accepted.

[2017-01-20 14:38] evilebottnawi commented on #11
Done

[2017-01-20 14:38] #11 closed

[2017-01-25 13:53] greenkeeper[bot] opened #17 "An in-range update of eslint-plugin-lodash is breaking the build 🚨"
## Version **2.3.3** of [eslint-plugin-lodash](https://github.com/wix/eslint-plugin-lodash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-lodash-2.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-lodash
    </td>

[2017-01-27 12:05] #17 closed

[2017-02-01 17:54] misterbrownlee opened #18 "Export glyph data in result"
It would be handy (at least for my useage) to have access to the raw glyph data, especially the metadata and the unicode mappings.  It would be pretty easy to add this as an optional setting.  I will PR unless I'm missing a way to access that already?  Other systems I've encountered allow this through a 'glyph' emitter.  I also thought I might hack the mapping data out with a custom css template b

[2017-02-01 17:57] misterbrownlee commented on #13
I would +1 this and will even take a look once I get some 🕐

[2017-02-02 09:36] evilebottnawi commented on #18
@misterbrownlee let's do it, wait PR :smile:

[2017-02-03 22:28] greenkeeper[bot] opened #19 "An in-range update of eslint is breaking the build 🚨"
## Version **3.15.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-3.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-02-04 13:57] #19 closed

[2017-02-04 21:02] misterbrownlee commented on #18
I realized that `glyphTransformFn` exposes the glyph metadata to a function. It would also be easy to use that to write the data back into the result hash, or save it to a separate file, etc.  Maybe that's better than another option, I'll write a gist for that and we can talk when that's done.

[2017-02-06 22:22] greenkeeper[bot] opened #27 "An in-range update of eslint-plugin-promise is breaking the build 🚨"
## Version **3.4.1** of [eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-promise-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-promise

[2017-02-07 12:55] #27 closed

[2017-02-08 07:29] greenkeeper[bot] opened #29 "An in-range update of eslint-plugin-ava is breaking the build 🚨"
## Version **4.1.0** of [eslint-plugin-ava](https://github.com/avajs/eslint-plugin-ava) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-ava-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-ava
    </td>
  </tr>

[2017-02-08 09:53] #29 closed

[2017-02-17 01:02] greenkeeper[bot] opened #31 "An in-range update of eslint-plugin-promise is breaking the build 🚨"
## Version **3.4.2** of [eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-promise-3.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-promise

[2017-02-17 10:44] #31 closed

[2017-02-22 22:35] greenkeeper[bot] opened #32 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-3.16.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-02-23 12:17] #32 closed

[2017-02-28 23:50] greenkeeper[bot] opened #38 "An in-range update of eslint-plugin-promise is breaking the build 🚨"
## Version **3.5.0** of [eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-promise-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-promise

[2017-03-01 09:29] #38 closed

[2017-03-04 02:24] greenkeeper[bot] opened #39 "An in-range update of eslint is breaking the build 🚨"
## Version **3.17.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-3.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-03-04 15:37] greenkeeper[bot] opened #40 "An in-range update of cross-env is breaking the build 🚨"
## Version **3.2.0** of [cross-env](https://github.com/kentcdodds/cross-env) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcross-env-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cross-env
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-05 20:21] greenkeeper[bot] opened #41 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.12.0** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcoveralls-2.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th align=

[2017-03-06 09:45] #41 closed

[2017-03-06 09:46] #40 closed

[2017-03-06 09:46] #39 closed

[2017-03-06 20:43] greenkeeper[bot] opened #43 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## Version **4.2.0** of [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-node-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-node
    </td>

[2017-03-07 09:44] #43 closed

[2017-03-10 02:46] greenkeeper[bot] opened #46 "An in-range update of eslint-plugin-unicorn is breaking the build 🚨"
## Version **2.1.0** of [eslint-plugin-unicorn](https://github.com/sindresorhus/eslint-plugin-unicorn) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-unicorn-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-unic

[2017-03-10 10:09] #46 closed

[2017-03-13 07:41] greenkeeper[bot] opened #49 "An in-range update of babel-core is breaking the build 🚨"
## Version **6.24.0** of [babel-core](https://www.npmjs.com/package/babel-core) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-core-6.24.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-core
    </td>
  </tr>
  <tr>
    <th align=l

[2017-03-13 07:44] greenkeeper[bot] opened #50 "An in-range update of babel-preset-es2015 is breaking the build 🚨"
## Version **6.24.0** of [babel-preset-es2015](https://www.npmjs.com/package/babel-preset-es2015) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-preset-es2015-6.24.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-es2015

[2017-03-13 09:23] #49 closed

[2017-03-13 09:23] #50 closed

[2017-03-14 09:39] greenkeeper[bot] opened #51 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## Version **4.2.1** of [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-node-4.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-node
    </td>

[2017-03-14 10:03] #51 closed

[2017-03-27 13:42] edouard-lopez opened #53 "Allow usage specify unicode code for each character"
I'm building a font from SVG files. For instance:

[code]
However 中 is associate with U+EA02 <Private Use> instead of U+4E2D CJK UNIFIED IDEOGRAPH-4E2D.

### Question

Is there a convention I'm missing to assign a glyph to the correct codepoint?

**related:** parlr/Hanzi-Pinyin-Font#22 -  Associate glyph with correct codepoint.

[2017-03-27 13:53] evilebottnawi commented on #53
@edouard-lopez thanks for feedback, i don't know why it is happens, need investigation, if you have time feel free to PR or create issue to related project :+1:

[2017-03-27 22:06] edouard-lopez commented on #53
@evilebottnawi I used neither `startunicode` nor `prependUnicode` argument and name the SVG file with the character (not it's codepoint).

[2017-03-28 08:38] evilebottnawi commented on #53
@edouard-lopez can you upload here one of svg?

[2017-03-28 09:22] evilebottnawi commented on #53
@edouard-lopez oh sorry, I did not immediately understand what you specifically mean :smile: Filename of svg files not associated with real unicode characters (). Starting unicode https://github.com/nfroidure/svgicons2svgfont/blob/master/src/metadata.js#L17 Why you need associated real filename and unicode?

[2017-03-28 09:25] edouard-lopez commented on #53
I generate the file from Unicode database, should I use the codepoint (e.g. `U+3400`)?

[2017-03-28 09:29] evilebottnawi commented on #53
@edouard-lopez we can generate custom font and use the offset to not intersect with the real characters of the fonts. This approach is used by all font generators, if you can explain in more detail why you need it and for what, then maybe I can help

[2017-03-28 12:14] edouard-lopez commented on #53
@evilebottnawi my goal is to generate a Chinese font based on Noto CJK (Chinese/Japenese/Korean) to add the pronunciation on top of each Chinese character, [see repo](https://github.com/parlr/Hanzi-Pinyin-Font), like example below.

![annotation-top](https://cloud.githubusercontent.com/assets/1212392/24404175/89cb361c-13c0-11e7-82d8-19f60d46afb7.png)

But the generated glyph should have the same c

[2017-03-28 12:18] evilebottnawi commented on #53
@edouard-lopez Thanks for the explanation, I think it's workable, I'll try to find a solution this week, but you can try it yourself and send PR :+1:

[2017-03-28 12:23] edouard-lopez opened #54 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I run the [my script](https://github.com/parlr/Hanzi-Pinyin-Font/blob/9b7bd1c607f97c10c9b781e04a39404caac65873/index.js#L29-L38) on a directory with `41214` SVG files and got the following error

[code]

### Error
[code]

### Question

How can I solve this?

**related**:
* [Font generation with webfont: FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory](http://stac

[2017-03-28 12:28] evilebottnawi commented on #54
@edouard-lopez due to the large number of files `node` exceeded the limit memory (`512mb`) default. You can try increase memory, see http://prestonparry.com/articles/IncreaseNodeJSMemorySize/

[2017-03-29 10:36] evilebottnawi commented on #54
@edouard-lopez Apparently I found the problem of leakage today I'll try to release a patch

[2017-03-29 11:58] evilebottnawi commented on #54
@edouard-lopez i am released `7.1.1`, can you try again?

[2017-03-29 15:54] edouard-lopez commented on #54
I run with `7.1.1`, latptop crash, I will try again this evening.

    $ node \
        --max_old_space_size=8192 \
        --optimize_for_size \
        --max_executable_size=4096 \
        --stack_size=4096 \
        --require babel-core/register \
        ./index.js

[2017-03-29 16:12] evilebottnawi commented on #54
@edouard-lopez you upgrade to 7.1.1 version? Can you show error again?

[2017-03-29 20:06] edouard-lopez commented on #54
@evilebottnawi my laptop crashed, so no log. I tried again with a smaller set of characters (26,000~) and was able to generate the font!

[2017-03-29 20:06] #54 closed

[2017-03-29 22:05] edouard-lopez commented on #53
I would expect an option `--detect-codepoint` based on the filename: either `U+3400.svg` or `㐀.svg`.

What do you think?

[2017-03-30 09:12] evilebottnawi commented on #53
@edouard-lopez sgtm for me!

[2017-03-30 10:29] evilebottnawi commented on #54
@edouard-lopez can you give link to repo or archive this icons? I can try investigate that happens

[2017-03-30 17:31] greenkeeper[bot] opened #55 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.13.0** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcoveralls-2.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th align=

[2017-03-30 18:36] #55 closed

[2017-04-03 09:37] edouard-lopez commented on #54
The [repo is parlr/Hanzi-Pinyin-Font](https://github.com/parlr/Hanzi-Pinyin-Font/), with only 26k glyph it took 20-25min to build but works.

[2017-04-03 23:26] edouard-lopez commented on #53
@evilebottnawi  `svgicons2svgfont` already support what I wanted through a naming convengtion:

    ${unicode}-${char.glyph}.svg

For example:

[code]

[2017-04-03 23:26] #53 closed

[2017-04-04 08:43] evilebottnawi commented on #54
@edouard-lopez thanks i try to increase number of glyph and see that happens

[2017-04-04 08:44] evilebottnawi commented on #53
@edouard-lopez it is good :smile:

[2017-04-08 22:43] greenkeeper[bot] opened #61 "An in-range update of babel-preset-es2015 is breaking the build 🚨"
## Version **6.24.1** of [babel-preset-es2015](https://www.npmjs.com/package/babel-preset-es2015) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-preset-es2015-6.24.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-es2015

[2017-04-08 23:04] greenkeeper[bot] opened #62 "An in-range update of babel-core is breaking the build 🚨"
## Version **6.24.1** of [babel-core](https://www.npmjs.com/package/babel-core) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-core-6.24.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-core
    </td>
  </tr>
  <tr>
    <th align=l

[2017-04-08 23:13] greenkeeper[bot] opened #63 "An in-range update of babel-register is breaking the build 🚨"
## Version **6.24.1** of [babel-register](https://www.npmjs.com/package/babel-register) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fbabel-register-6.24.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-register
    </td>
  </tr>
  <tr>

[2017-04-10 08:07] #63 closed

[2017-04-10 08:07] #62 closed

[2017-04-10 08:07] #61 closed

[2017-04-12 07:15] yamaha252 opened #64 "How can I use a configuration file?"
Hello! Thanks for the awesome package!
I had a problem to use a configuration file for run that package via cli.
I tried a lot of ways: in package.json, in .webfontrc etc.
I tried to run webfont and got different errors, for example:
[code]
[code]
[code]
[code]
If I use without --config param my configs (in package.json and .webfontrc) aren't applied.

[2017-04-12 08:41] evilebottnawi commented on #64
@yamaha252 thanks for feedback!
try `webfont "src/assets/images/icons/*.svg" --config ".webfontrc" -d "src/assets/icons"`

[2017-04-12 08:49] yamaha252 commented on #64
Thanks! But, I had an error again
[code]

[2017-04-12 08:56] evilebottnawi commented on #64
@yamaha252 very strange `webpack` can't find template, can you create minimal repo with reproduce this?

[2017-04-12 09:22] yamaha252 commented on #64
Done: https://github.com/yamaha252/webfont-config

[2017-04-12 09:26] evilebottnawi commented on #64
@yamaha252 thanks in near time i investigate this :+1:

[2017-04-12 09:31] evilebottnawi commented on #64
@yamaha252 found bug thanks! Start to doing patch!

[2017-04-12 10:03] evilebottnawi commented on #64
@yamaha252 try to new version https://github.com/itgalaxy/webfont/releases/tag/7.1.2

[2017-04-13 03:26] yamaha252 commented on #64
I updated the package to 7.1.2 in my minimal repo and got the same error:
[code]

[2017-04-13 03:30] yamaha252 commented on #64
I think the problem was not with 'template' param in a config. It seems can't process --config cli param correctly

[2017-04-13 08:58] evilebottnawi commented on #64
@yamaha252 thanks try to investagate

[2017-04-13 10:56] evilebottnawi commented on #64
@yamaha252 very strange i now try to use your example command and all work as expected, do you provide more information, maybe your don't update `webfont` (try `npm install webfont`)?

[2017-04-13 11:08] yamaha252 commented on #64
Oh, @evilebottnawi, I'm sorry. You're right. I've forgotten to update my global webfont package :)

[2017-04-13 11:18] evilebottnawi commented on #64
@yamaha252 should search, investigate :+1:

[2017-04-13 13:53] evilebottnawi commented on #64
@yamaha252 try https://github.com/itgalaxy/webfont/releases/tag/7.1.3

[2017-04-14 05:48] yamaha252 commented on #64
Great! It works perfectly now! Thanks a lot!

[2017-04-14 05:48] #64 closed

[2017-04-20 19:16] romanran commented on #13
There is ttf2woff in the code already, why not just skip the svg part if there is already ttf?

[2017-04-21 09:15] evilebottnawi commented on #13
@romanran don't have time now for this PR, your can be champion this :smile:

[2017-04-21 09:17] romanran commented on #13
Yeah I forked it and did it, but the ttf2woff throws some strange error.

[2017-04-21 09:20] evilebottnawi commented on #13
@romanran your can send PR and we together see that is happens :+1:

[2017-04-26 01:39] greenkeeper[bot] opened #65 "An in-range update of cosmiconfig is breaking the build 🚨"
## Version **2.1.2** of [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcosmiconfig-2.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cosmiconfig
    </td>
  </tr>
  <tr>
    <th al

[2017-04-26 09:45] #65 closed

[2017-04-28 03:05] greenkeeper[bot] opened #67 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.13.1** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcoveralls-2.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th align=

[2017-04-28 10:13] #67 closed

[2017-04-29 08:31] greenkeeper[bot] opened #70 "An in-range update of nyc is breaking the build 🚨"
## Version **10.3.0** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fnyc-10.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-04-29 12:26] greenkeeper[bot] opened #72 "An in-range update of remark-cli is breaking the build 🚨"
## Version **3.0.1** of [remark-cli](https://www.npmjs.com/package/remark-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fremark-cli-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remark-cli
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-04-29 12:48] #72 closed

[2017-04-29 12:49] #70 closed

[2017-04-29 16:55] greenkeeper[bot] opened #73 "An in-range update of cosmiconfig is breaking the build 🚨"
## Version **2.1.3** of [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fcosmiconfig-2.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      cosmiconfig
    </td>
  </tr>
  <tr>
    <th al

[2017-04-29 17:29] #73 closed

[2017-05-05 20:04] greenkeeper[bot] opened #75 "An in-range update of nyc is breaking the build 🚨"
## Version **10.3.2** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fnyc-10.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-05-06 11:13] #75 closed

[2017-05-07 18:25] greenkeeper[bot] opened #76 "An in-range update of eslint-plugin-jsx-a11y is breaking the build 🚨"
## Version **5.0.1** of [eslint-plugin-jsx-a11y](https://github.com/evcohen/eslint-plugin-jsx-a11y) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-jsx-a11y-5.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-jsx-a1

[2017-05-07 19:40] #76 closed

[2017-05-22 12:53] japalo opened #80 "fix: SVG optimization messes up icons"
When adding complex icons some SVG optimization messes up the icons.

I can't find any related issues or similar threads, but if anyone knows a fix/workaround please tell me or point me in the right direction. :)

Example where icon fails:
`
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.11 41.53"><defs><style>.cls-1{fill:#404040;}</style></defs><title>department</title><g id="Layer_2" da

[2017-05-22 12:56] evilebottnawi commented on #80
@japalo can your provide what your expected and what is actually happens?

[2017-05-22 13:20] japalo commented on #80
I expected this (screenshot from OSx preview:
![skarmavbild 2017-05-22 kl 15 17 46](https://cloud.githubusercontent.com/assets/5397459/26310673/fd69df76-3f01-11e7-964a-fd786f60321b.png)

And i got this (screenshot from webpage where icon font has rendered font from SVG):
![skarmavbild 2017-05-22 kl 15 18 49](https://cloud.githubusercontent.com/assets/5397459/26310674/fd6df494-3f01-11e7-9aa5-92d3ca

[2017-05-22 13:28] japalo commented on #80
When i tried to boost up the size of the icons to 512px * 512px instead of 56px * 56px the lines smoothed out a bit, but the fill was weird instead. Will try to edit SVGs in order to update you.

[2017-05-22 13:50] evilebottnawi commented on #80
@japalo do your use `svgo` or some similar tools?

[2017-05-22 13:56] japalo commented on #80
Worked with the designer and we found out after multiple SVG export form illustrator and sketch that:
1. Sketch export did not work at all for this. Something with the fill-mode i suppose. Either the fills where behaving unexpectedly or the fills where inverted.
2. Illustrator needs to export a large SVG. We used 512px*512px
3. All shapes needs to be finalized and using "Compound path".

I think t

[2017-05-22 14:01] evilebottnawi commented on #80
@japalo great! If you have the time to do PR (add this caveat to readme), I will be happy, thanks!

[2017-05-24 12:18] greenkeeper[bot] opened #81 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.3.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-import-2.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-05-24 12:22] #81 closed

[2017-05-27 13:12] greenkeeper[bot] opened #82 "An in-range update of svg2ttf is breaking the build 🚨"
## Version **4.0.3** of [svg2ttf](https://github.com/fontello/svg2ttf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fsvg2ttf-4.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      svg2ttf
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-05-27 15:45] #82 closed

[2017-06-02 18:35] greenkeeper[bot] opened #85 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-import-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-06-05 10:12] #85 closed

[2017-06-15 12:36] greenkeeper[bot] opened #87 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.1.0** of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-react-7.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-react
    </t

[2017-06-17 09:39] greenkeeper[bot] opened #88 "An in-range update of eslint-plugin-unicorn is breaking the build 🚨"
## Version **2.1.2** of [eslint-plugin-unicorn](https://github.com/sindresorhus/eslint-plugin-unicorn) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-unicorn-2.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-unic

[2017-06-19 08:17] greenkeeper[bot] opened #90 "An in-range update of eslint-plugin-lodash is breaking the build 🚨"
## Version **2.4.3** of [eslint-plugin-lodash](https://github.com/wix/eslint-plugin-lodash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-lodash-2.4.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-lodash
    </td>

[2017-06-20 13:24] greenkeeper[bot] opened #91 "An in-range update of svgicons2svgfont is breaking the build 🚨"
## Version **5.0.1** of [svgicons2svgfont](https://github.com/nfroidure/svgicons2svgfont) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fsvgicons2svgfont-5.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      svgicons2svgfont
    </td>
  </tr>

[2017-06-20 13:37] #91 closed

[2017-06-20 13:37] #87 closed

[2017-06-20 13:37] #88 closed

[2017-06-20 13:38] #90 closed

[2017-06-22 12:05] greenkeeper[bot] opened #92 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.5.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-import-2.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-06-22 12:36] #92 closed

[2017-06-23 11:32] greenkeeper[bot] opened #94 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.6.0** of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-import-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-import

[2017-06-23 11:34] #94 closed

[2017-06-25 21:05] greenkeeper[bot] opened #96 "An in-range update of eslint-plugin-node is breaking the build 🚨"
## Version **5.1.0** of [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Feslint-plugin-node-5.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-node
    </td>

[2017-06-27 18:12] greenkeeper[bot] opened #99 "An in-range update of prettier is breaking the build 🚨"
## Version **1.5.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/itgalaxy/webfont/compare/greenkeeper%2Fprettier-1.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-06-28 15:10] #96 closed

[2017-06-28 15:10] #99 closed

[2017-07-24 20:15] machty opened #105 "Config file isn't being used (7.1.4)"
In #64 it was mentioned that this should be fixed in 7.1.3 but I'm still seeing it in 7.1.4.

[code]

[2017-07-24 20:28] machty commented on #80
@japalo Thanks for sharing your notes; was running into issues of lossiness for a particular icon that went away when I resized to 512x512 (and added the `--normalize` flag)

[2017-07-24 20:46] machty commented on #105
Nevermind, it's being used; usage was printing because I wasn't providing the input SVG args.

[2017-07-24 20:46] #105 closed

[2018-01-22 10:08] Malin88 opened #125 "Randomize files name"
How can I randomize font files name? I have some problem with browser cache so I want to generate file like `webfont.scss` with `src: utl("[some-random-string]")` How can I do that ?

[2018-01-23 09:30] evilebottnawi commented on #125
@Malin88 you can use custom template also we can add option to pass custom variables into template, PR welcome

[2018-02-08 13:10] lwojciechowski commented on #80
I found out that the problem was related to the low `units-per-em` in svg's `font-face` definition. I solved it putting there *empty* svg that had size of 600px x 600px and the `font-face` adjusted `units-per-em` to the biggest svg image it found. It works fine like this :)

[2018-03-21 12:58] evilebottnawi commented on #18
Done in `8.0.0` in `glyphsData` export object. i will release new version today :+1:

[2018-03-21 12:58] #18 closed

[2018-03-21 13:00] evilebottnawi commented on #125
use option `fontName`:
[code]

[2018-03-26 10:05] Malin88 commented on #125
thx, but this option did not do what I expected. After I used it got font files like `webfont-asd34cxf.eot` and also scss files with the same name `webfont-asd34cxf.scss` so after any font regeneration, I need to update file name of included font :/

[2018-04-17 16:18] evilebottnawi opened #130 "Don't deterministic output svg font"
Need investigate why

[2018-04-20 13:41] #130 closed

[2018-04-25 14:51] evilebottnawi opened #132 "Broken on 10.0.0 node"
Blocker https://github.com/nfroidure/svg-pathdata/issues/33

[2018-04-30 16:07] pcasa opened #133 "Partially creates CSS file but no fonts"
Was using the CLI.  Below was what I was using before.

`webfont ./*.svg --dest ./icon-dist -f icon --center-horizontally --fixed-width  --fontName myCustom --template css --css-template-class-name my-custom --normalize`

Now it partially builds the CSS file, but `src` is empty.  Also, none of the fonts are actually built, so `icon-dist` folder only has the CSS file.

[2018-04-30 16:35] evilebottnawi commented on #133
@pcasa hm, can you create minimum reproducible test repo? Also provide you node version

[2018-04-30 16:40] pcasa commented on #133
Actually, fixed.  Think I had an old option `-f icon` that I removed.  Also changed `--css-template-class-name` to `--template-class-name` and everything outputs the same as before.

Can close.  Bad options passed in causing it to fail.

[2018-04-30 16:44] evilebottnawi commented on #133
@pcasa looks like will be great implement schema for options to avoid future problem

[2018-05-16 21:40] garytryan opened #137 "fix: outputs invalid glyph"
[code]

outputs the following glyph
[code]

I notice there's some NaNs in there.

[2018-05-17 10:33] evilebottnawi commented on #137
@garytryan can you put here svg icon with name `folder`?

[2018-05-18 18:02] garytryan commented on #137
@evilebottnawi

Yeah, this is the `folder` svg

[code]

[2018-05-24 05:31] grouchal commented on #132
+1

[2018-06-25 08:04] blunt1337 opened #144 "fix: stroke icons"
Hi, I love your lib but i have some problems with stroke icons. Is it possible to add a preprocessor like this one ?
https://github.com/elrumordelaluz/outline-stroke

Or just a custom function like glyphTransformFn ?
Thanks.

[2018-06-25 08:55] evilebottnawi commented on #144
@blunt1337 i don't have time right now on this, but feel free to send a PR

[2018-07-20 09:45] ediblecode opened #148 "Verbose is misspelled"
Minor issue but see line https://github.com/itgalaxy/webfont/blob/master/src/standalone.js#L104 - `vebose` should be `verbose`

[2018-07-30 17:42] #148 closed

[2018-09-28 08:10] y-nk opened #156 "mutation of source"
is it possible to make the tool in the way that it doesnt _rename_ the source files ?

[2018-09-28 10:18] evilebottnawi commented on #156
@y-nk can you describe more verbosly?

[2018-10-13 16:04] cgpro opened #158 "Multiple templates? (Feature request)"
All works great, but multiple templates would be cool

For example in the .webfontrc:
`{
...
 "template": ['html', 'scss']
...
}`

Of course not urgent, but for preview purposes, the html option would be perfect :-)

[2018-10-13 16:04] evilebottnawi commented on #158
@cgpro thanks for issue, doesn't have time on this right now, but PR welcome :+1:

[2018-10-23 07:54] #156 closed

[2018-11-03 21:14] noiff commented on #80
It's not a webfont bug, it's a problem with svgicons2svgfont package. And solution is quite simple. You don't need to export big svg images from Illustrator, or add empty svg images with big size, just set propper options in config - `fontHeight: 600` and `normalize: true`.

[2018-11-13 16:44] Jab2870 opened #163 "Add a file version hash"
Hi,

It would be great to have the option to have a version query string added to the fontface declaration to help with cache busting.

[2018-11-13 16:48] Jab2870 commented on #163
Ok, it'll probably have to wait until the weekend though.

[2019-03-05 19:28] abcd-ca commented on #144
@blunt1337 fwiw the outline-stroke util you mentioned didn't render my checkbox icons properly

[2019-03-06 08:24] elrumordelaluz commented on #144
@abcd-ca since the process to make _Icons_ outlined needs to convert vector into pixels, try making bigger your `input` (should be enough to change `width` and `height` or `viewBox` of the `.svg` source). In case there are problems, please feel free to [open an _Issue_](https://github.com/elrumordelaluz/outline-stroke/issues/new)

[2019-04-03 13:40] efc-ls opened #174 "feat: ligatures"
Hey,

is it possible to set custom ligatures?
So that my html can look like this:
`<span class="fontclass">iconname</span>`

[2019-04-03 13:45] evilebottnawi commented on #174
ligatures? Do you mean class?

[2019-04-03 14:19] lswug commented on #174
If my css looks like this:
[code]

So I can use my html tag just like this:
`<span class="test_font test_font-house"> This is a text</span>`

also this:
`<span class="test_font">&#xEA01; This is a text</span>`

But I want to achive this:
`<span class="test_font">font-house This is a text</span>`

As I researched correctly this is solved with creating ligatures. Those are added in the "gsub"(?) par

[2019-04-03 14:33] evilebottnawi commented on #174
I think you can use custom css template for this case and generate own css

[2019-04-04 06:02] lswug commented on #174
Well, IMHO it's not done with just creating css. The text has to be rendered into the icon..
Anyways I'll find a workaround, I was wondering if there are any possibilities.
Thanks :-)

[2019-04-04 08:56] evilebottnawi commented on #174
@lswug You can send a PR :+1:

[2019-04-11 11:34] Jab2870 opened #175 "bug: icon doesn't export properly"
Hi, I have an icon that is not exporting properly. I am not sure if it is a problem with my svg or this script.

[code]

It is supposed to be a cutout of the linked in icon. It displays fine in inkscape but the dot is missing on the `i` when exported to a font.

Any help would be greatly appreciated

[2019-04-11 11:45] evilebottnawi commented on #175
Please provide code and screenshots what is wrong

[2019-04-11 12:00] Jab2870 commented on #175
I have given you the svg code above.

Here it is displaying fine in inkscape:

![Screenshot_2019-04-11_12-57-03](https://user-images.githubusercontent.com/1909202/55955475-710c7f80-5c59-11e9-9f3c-d14ef496ac77.png)

Here it is not displaying properly as part of the font:

![Screenshot_2019-04-11_12-59-40](https://user-images.githubusercontent.com/1909202/55955588-b92ba200-5c59-11e9-9d9b-a128353a373

[2019-04-11 12:17] evilebottnawi commented on #175
It is font here doesn;t have color, but stroke should be avoided

[2019-04-11 12:47] Jab2870 commented on #175
I'm not sure I understand. The dark blue here is just a css style I have applied. I don't think I have any stokes in the font. Thanks for helping though

[2019-04-11 12:54] evilebottnawi commented on #175
Hard to understand what you actually have and what you expected

[2019-04-11 13:00] Jab2870 commented on #175
The icon I have as an svg is here:

[code]

If you open it in inkscape, illistrator, afinity designer or any other type of vector editor, you see the vector like this:

![Screenshot_2019-04-11_12-57-03](https://user-images.githubusercontent.com/1909202/55955475-710c7f80-5c59-11e9-9f3c-d14ef496ac77.png)

After running it through the webfont program, I get this version of the icon:

![Screenshot_201

[2019-04-11 13:03] Jab2870 commented on #175
I build the font with this command if it helps:

[code]

[2019-04-11 13:25] evilebottnawi commented on #175
try to use `centerHorizontally` option

[2019-04-11 13:53] Jab2870 commented on #175
Thanks but that hasn't made any difference

[2019-04-11 14:02] evilebottnawi commented on #175
Feel free to use difference option, it is hard to say what is wrong without reproducible test repo

[2019-04-11 14:10] Jab2870 commented on #175
Are you able to test with the svg I gave you?

[2019-04-11 14:13] evilebottnawi commented on #175
Icon looks good, maybe bug in transformation svg icon to svg font

[2019-04-11 14:16] Jab2870 commented on #175
Ok, so is it a bug with this tool?

[2019-04-11 14:22] evilebottnawi commented on #175
I think yes, feel free investigate it is easy

[2019-04-23 08:08] lswug commented on #175
@Jab2870 Did you solve this? For me it looks like your icon is broken

[2019-04-23 09:53] Jab2870 commented on #175
@guluws  No, I haven't

[2019-04-23 11:23] guluws commented on #175
Changing the fill-rule to nonzero, you can see that the dot is the real problem.

https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/fill-rule

[2019-04-23 12:11] Jab2870 commented on #175
Thanks, I will look into this. I am very much NOT a designer. I am given a folder of svgs to work with. Do you know of any way to automate the process of fixing these icons? Failing that, is there something I should ask the designer who creates these icons to do when they are exported?

[2019-04-23 12:54] guluws commented on #175
I'm also not a designer so this is just my experience:
You should always inspect your svg with the nonzero rule.

And to fix it you have to change the path direction.
This image helped me to get the logic behind the rule:
![](https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2014/08/1408533478nonzerovisual.jpg)

[2019-05-16 17:15] lepus2589 opened #184 "Array values in config file are being merged into the defaults"
If you use a config file and try to set the formats option to something other than the default, webfont will still generate the default set of font formats.

The following line seems the culprit:

https://github.com/itgalaxy/webfont/blob/6bacf7697a6d5acd6df038ce0fb6c20fe9fcb2fc/src/standalone.js#L218

`deepmerge()` concats the formats array from the config file with the default array instead of re

[2019-05-16 17:20] evilebottnawi commented on #184
oh, it is bug, PR welcome

[2019-05-16 17:20] evilebottnawi commented on #184
Should be use to fix

[2019-05-27 06:45] sergeymorkovkin commented on #13
Two years have passed. Do you accept PR's for this? How long will it take to merge? Implementing this functionality will change how webfont-webpack-plugin & webfont interact, since in TTF case it will return multiple file of the same type.

[2019-05-27 09:54] evilebottnawi commented on #13
@sergeymorkovkin yes, PR welcome, just don't have time on this :disappointed: Anyway feel free to send a PR and when we can add support for webfont-webpack-plugin

[2019-05-27 11:38] sergeymorkovkin commented on #13
Alright, there you go: [webfont-webpack-plugin](https://github.com/itgalaxy/webfont-webpack-plugin/pull/133) and [webfont](https://github.com/itgalaxy/webfont/pull/185).

[2019-05-27 11:44] sergeymorkovkin commented on #13
One thing I forgot to fix is webfont-webpack-plugin/package.json:53. Apologize for this.

[2019-05-27 11:47] evilebottnawi commented on #13
Thanks for PR, i will see this in near future

[2019-07-01 07:00] sergeymorkovkin commented on #13
Hello! Is there any chance to get it merged in the near future? Thanks.

[2019-07-03 15:03] TabithaLarkin opened #187 "Upgrading from 8.2.1 to 9.0.0 breaks typescript builds"
As part of [this commit](https://github.com/itgalaxy/webfont/commit/f2b82d6659ad7b0da5790f6642dcb6b377d6fb98) to update dependencies, the version of globby was updated to 9.0.0 from 8.0.1. This has introduced a dependency on `@types/glob` which introduces a dependency on `@types/node`.

Upgrading to the new version of webfont breaks our typescript build, as it now imports the `@types/node` package

[2019-07-03 15:07] evilebottnawi commented on #187
Looks problem not on our side

[2019-07-09 21:15] bazilyuk opened #189 "Need cssDest dest file"
I have template file (template: resolvePath(COMMON_DIR, 'markup/common/scss/ico/_ico-template1.scss')) when I build project, that file rewrites. But I need 2 different files, one for template and one generated file. Because If I build project ones with that template I can't build it second time, because that file is rewrote!
Do you have that option?

[2019-07-09 21:24] evilebottnawi commented on #189
PR welcome

[2019-07-10 07:17] guluws commented on #189
Why don't you just put the template file/generated file in a sub directory?

[2019-07-10 07:48] bazilyuk commented on #189
What you mean?

[2019-07-10 08:21] guluws commented on #189
If I understand it correctly the problem is that you have a template under the following path (f.e.)
`C:\ico\_ico-template1.scss`
and you export/generate the files in
`C:\ico\`

The template of course will be overwritten. So why don't you place your template like this:
`C:\ico\template\_ico-template1.scss`

Btw: Why isn't it a njk file?

[2019-07-10 08:35] guluws commented on #189
Another approach:
As I get it right those templates are nunjuck files. So you can set your file extension as you want.
`C:\ico\_ico-template1.scss.njk`
Then the generated file won't overwrite it.

https://mozilla.github.io/nunjucks/templating.html

[2019-07-10 09:55] bazilyuk commented on #189
Thanks that helps

[2019-07-10 09:56] #189 closed

[2019-07-20 13:35] sergeymorkovkin commented on #13
@evilebottnawi Is anything needed to get it published?

[2019-07-21 08:55] sergeymorkovkin commented on #13
A couple of thoughts on what's remaining:

1. Update CLI wrapper to support TTF2WOFF(2)
2. Fix code to match all linters
3. Auto-detect SVG/TTF mode without using a new property

Anything else?

[2019-07-29 11:57] alexander-akait opened #190 "chore: search contributors"
Unfortunately i don't have enough time on this package so i need help.

Write something here if you want to help.

[2019-08-12 20:57] mpalpha commented on #174
Check out [Ligatures](https://google.github.io/material-design-icons/#using-the-icons-in-html) for more information.

[2019-08-13 20:39] mpalpha opened #192 "Add a template cache string parameter."
example:
  src: url("./webfont.eot?1565728069335");

[2019-10-04 08:13] rjurado01 commented on #175
Check this answer: https://github.com/itgalaxy/webfont/issues/80#issuecomment-435621410

[2020-04-01 14:15] #187 closed

[2020-05-09 00:54] arshbot opened #198 "Module not found: Error: Can't resolve 'fs'"
Installed this project and attempted to use for a simple reactjs app, however I get `Module not found: Error: Can't resolve 'fs'`

Some logs below

[code]

[2020-07-16 18:15] jwhitley commented on #125
Don't use `Math.random()`. This exact problem is widely solved by including a hash of the contents in the filename. Even an old algorithm like MD5 is fine for this purpose, since there's no security impact.  That is a far better solution, since only changes that affect the webfont data will cause a filename update.

[2020-09-25 20:11] jimmyandrade commented on #190
@evilebottnawi I can help :) We use `webfont` on @naturacosmeticos.

[2020-09-28 11:29] evilebottnawi commented on #190
@jimmyandrade Thanks, I can invite you, what do you want to start fixing?

[2020-09-28 11:36] jimmyandrade commented on #190
@evilebottnawi I would start by taking a look at the dependency update PRs that currently exist, and possible security fixes. What do you think?

[2020-09-28 11:40] evilebottnawi commented on #190
Sent invalie

[2020-09-28 15:53] jimmyandrade commented on #190
Thank you.

By the way, what is the path-to-production for launching new versions? I saw that the repository uses `standard-version`. Version bump is done in the pipeline, do you publish in your local development environment?

[2020-09-28 15:54] evilebottnawi commented on #190
Yes, I do it locally, no automation

[2020-09-28 20:51] jimmyandrade commented on #190
@evilebottnawi another question: I noticed that there are some `greenkeeper/*` branches.
Greenkeeper’s operation was stopped as an independent service on June 3rd, 2020.

I could remove these old branches from the greenkeeper, and thus focus on merging some Snyk PRs.
What do you think?

[2020-09-28 20:53] evilebottnawi commented on #190
Yes, feel free to remove `greenkeeper` in favor `depedabot` and close old branches

[2020-09-28 21:47] jimmyandrade opened #210 "build: drop support for Node.js 8 (EOL)"
Node.js 8 reached End Of Life on December 31, 2019 and the some libraries will stop supporting it in the near future.

Could we consider changing `webfont` runtime version minimum requirement to Node 10?

[2020-09-28 21:48] evilebottnawi commented on #210
:+1:

[2020-09-29 00:46] #210 closed

[2020-09-29 12:33] jimmyandrade commented on #198
@arshbot Thank you for using `webfont`. I'm sorry you're experiencing this error.

1. Have you tried to deleted all the packages from `node_modules/` and do a `npm install`/`yarn`?
2. Is there some `browser` entry on your `package.json`. If yes, is there a `fs` property with value `false` or `true`?
3. Could you send a minimal example for reproduction or, at least, your `package.json` and `webpack

[2020-09-29 12:35] jimmyandrade commented on #192
@mpalpha Thanks for contributing! Is it something that you could help us build on?

@evilebottnawi What do you think of this feature request?

[2020-09-29 12:47] evilebottnawi commented on #192
I think it is good idea for simple cases, need a option for this

[2020-09-29 13:07] #184 closed

[2020-09-29 19:00] #163 closed

[2020-09-29 22:26] jimmyandrade commented on #192
@evilebottnawi I've merged PR https://github.com/itgalaxy/webfont/pull/191 from @mpalpha, that includes template cache string support. When do you believe that we could release a version to allow people to test?

[2020-09-29 22:32] jimmyandrade commented on #175
Hi @Jab2870, were you able to export the icon properly after the response (https://github.com/itgalaxy/webfont/issues/80#issuecomment-435621410) shared by @rjurado01?

I would like to know if I could close this issue, if everything is right.

[2020-09-29 22:37] jimmyandrade commented on #174
@guluws thanks for suggesting this feature.

@mpalpha added the PR https://github.com/itgalaxy/webfont/pull/191 and we've just merged.
We will plan a release soon, and you find issues related to glyphs and ligatures, please feel free to share 😄

[2020-09-29 22:40] jimmyandrade commented on #158
Hello, @cgpro

We already have the `html` option, but it really cannot be used in conjunction with other options.
However, @m-jung have created the PR https://github.com/itgalaxy/webfont/pull/201 to implement this functionality, and we're looking for need help to validate it.

Could you help us with that?

[2020-09-29 22:47] jimmyandrade commented on #144
@blunt1337 thanks for reporting this. After the recommendations from @abcd-ca and @elrumordelaluz, ere you able to resolve that issue? If so, I would like to close this issue. Otherwise, tell me so we can help you.

[2020-09-29 22:55] jimmyandrade commented on #137
@evilebottnawi did we have any news about this investigation?

@garytryan did you continue to have these problems? If so, please tell us and we will help you. Otherwise, I would like to close this issue. Thanks

[2020-09-29 22:57] jimmyandrade commented on #133
@evilebottnawi what would this scheme look like?

[2020-09-29 22:59] jimmyandrade commented on #125
@Malin88 do you believe that adding a cache querystring and/or version querystring would meet your need?

[2020-09-29 23:01] jimmyandrade commented on #80
@japalo were you able to solve the problem after the suggestion of @noiff?
If so, I would like to close this issue. Otherwise, feel free to respond and I will try to help you.

[2020-09-29 23:04] jimmyandrade commented on #13
@sergeymorkovkin We apologize for the delay in checking your PR https://github.com/itgalaxy/webfont/pull/185.

@sergeymorkovkin because of some changes we made to the main branch, there were some conflicts between your PR and our code. Could you help us to verify these issues so that we can integrate? Thank you.

[2020-09-29 23:08] jimmyandrade commented on #2
@shankar78be did you manage to solve what you needed? If so, I will be happy to close this issue. Otherwise, please tell me to see how I can help you.

[2020-09-30 15:12] japalo commented on #80
@jimmyandrade oh, this was a long time ago i actually can't remember. That must have been the solution since i didn't comment anything further.

I will close this issue, and thank @noiff for the solution I must have missed to do two years back.

[2020-09-30 15:12] #80 closed

[2020-09-30 15:14] jimmyandrade commented on #80
@japalo no prob 😄 Feel free to reopen the issue, in case you encounter this problem again.

And sorry for the delay in answering, we are resuming activities in this repository now, as we have more people contributing.

[2020-10-01 07:17] Ghustavh97 commented on #175
@jimmyandrade when the package was inactive I also faced this kind of issue and I tried to fix it using the solution in #144  but it did not work for me, using `--normalize` mentioned in #80 also did not work so I just ended up making a package that retraces the whole SVG converting it into a `fill` instead of `strokes` which seemed to be the issue.

You can find the package here https://github.co

[2020-10-01 20:54] garytryan commented on #137
@jimmyandrade I'm not using this anymore. Please feel free to close. Thanks!

[2020-10-01 20:55] jimmyandrade commented on #137
@garytryan no prob, thank you.

[2020-10-01 20:55] #137 closed

[2020-10-06 13:16] jimmyandrade opened #247 "ci: set up path-to-production path via Travis CI"
Duplicate of #248

[2020-10-06 13:17] jimmyandrade opened #248 "ci: continuous path-to-production for webfont library"
**As a** repository maintainer
**I would like to** be able to launch new versions of `webfont` through Travis CI triggered by a _push_ to `master`
**So that** we don’t need to publish at local development environment
**And that** the `webfont` library remains up to date

@evilebottnawi What is the possibility of doing this? So I won't have to bother you every time we need to release an update.

[2020-10-06 13:18] #247 closed

[2020-10-23 20:48] JorisAerts opened #278 "configuring "formats" has no effect"
I've setup a configuration using only a few formats, but still every font type gets created.
`{
  formats: ['svg', 'ttf', 'woff'],
}`

This is probably because you are merging this config with a default config, which already contains all formats. I guess merging these arrays just results in array concatenation.

[2020-10-23 20:53] JorisAerts opened #279 "template should accept an array"
It makes no sense that **template** only accepts a string, which is either a template or a path.
Currently, it takes me 4 cycles of compiling to generate 4 nunjuck files. During each of these cycles, all the font files get re-generated.  Therefore, **template** should also accept an array of fast-globs.

[2020-10-23 20:55] JorisAerts opened #280 "create output folder if it's not present"
If the output folder is not present, an error is thrown and the whole process is terminated.

[2020-11-05 10:29] chrisdjali-wrld3d opened #302 "Latest release uses vulnerable yargs-parser"
The 9.0.0 release depends on `yargs-parser` `^10.0.0` via `meow` `^5.0.0`. It looks like this has been resolved on the master branch, but no release has happened since then. This means that users of the NPM package will fail `npm audit`.

[2020-11-05 10:40] iainbethune commented on #302
Yep, seems this was resolved here: https://github.com/itgalaxy/webfont/pull/195

Any chance of a new release with the fix @jimmyandrade 🙏

[2020-11-05 13:26] jimmyandrade commented on #302
@chrisdjali-wrld3d thanks for sharing and reminding us of this issue.

@iainbethune thanks for asking. I still can't release a new version by myself, because I don't have NPM publishing tokens yet, I need help from @evilebottnawi.

@evilebottnawi could you help us with this?

[2020-11-26 14:40] iainbethune commented on #302
Just wondering if there is any update on getting a new release out @jimmyandrade @alexander-akait?

[2020-11-26 15:00] jimmyandrade commented on #302
@iainbethune I still can't release a new version by myself.

@alexander-akait could you give me permissions for publishing `webfont` on npm?

[2020-11-26 15:01] alexander-akait commented on #302
@jimmyandrade can you give me your npm account?

[2020-11-26 15:02] alexander-akait commented on #302
Sorry for delay, there are a lot of issues (over 200-300 every day)

[2020-11-26 15:03] jimmyandrade commented on #302
Of course! It's `jimmyandrade` (https://www.npmjs.com/~jimmyandrade)

Wow! I had no idea. I hope that with these publishing permissions I will help you to decrease at least some of these requests 😊

[2020-11-26 15:13] jimmyandrade commented on #302
@alexander-akait  Of course! It's `jimmyandrade` (https://www.npmjs.com/~jimmyandrade)

Wow! I had no idea. I hope that with these publishing permissions I will help you to decrease at least some of these requests 😊

[2020-11-26 15:24] alexander-akait commented on #302
I really hate `npm`, they just removed the ability to add outside collaborators, every time when I am working with npm something goes wrong, @jimmyandrade sent invite

[2020-11-26 19:21] alexander-akait commented on #302
@jimmyandrade now you can publish https://www.npmjs.com/package/webfont, don't forget to enable 2FA to security

[2020-12-03 15:01] IgnacioHR opened #322 "Missing unicode-range: in the @font-face { ... } declaration"
Hello,

Shall it be possible to add unicode-range: property with the value U+EA01-XXXX (computed from source) so the browser can better determine which for to use?

The problem I'm facing is that my page needs to access glyphs from different fonts all created with this library (we provide different values for startUnicode on each one of them) and just using the "font-family" does not help identify

[2020-12-09 08:44] iainbethune commented on #302
Just got an automated about this from github today... are we any closer to getting a new release out @jimmyandrade?

P.S.  Thanks for both of you guys spending your time solving this :)

[2020-12-16 09:19] iadibar opened #324 "Security Vulnerability Issue"
Im using `webfont` package that dependent on meow. meow dependent on `yargs-parser`.
when I scan my app (with Veracode sca) I getting Command Injection Vulnerability from `yargs-parser version 10.1.0`,
They suggest updating yargs-parser to `yargs-parser@13.1.2`, so that it is not vulnerable version, but I can not do it in my code because the dependencies are inside your code so I'll be happy if yo

[2020-12-25 17:42] bilalmalkoc opened #327 "Not generating font."
Some svg images not compiling. For example:

[code]

[2020-12-28 19:40] IgnacioHR opened #328 "generate data:application/x-font-woff;charset=utf-8;base64,... URL style in templates"
Hi,

This is a feature request!

I would like to generate an SCSS template with embedded font URLs rather than a URL pointing to an external file. This is to speedup the font loading (at the cost of increasing the file size) without having to open an additional http request to the web server.

To be more concise. Current templates are based on nunjuncs and inside the template we have access to opt

[2021-01-05 15:35] iainbethune commented on #324
This is a dupe of #302 - it's fixed in the master branch, just waiting for a release.

[2021-01-08 20:14] emkayy opened #331 "Wrong filename in template.njk if fontName and templateFontName configured"
If I have configured e.g.:
[code]
the file name of the font files will be 'icons-a.*'.
However, because of the line `fontName: options.templateFontName || options.fontName,` I only have the value of templateFontName as file name available in the nunjucks template. Thus the font files can never be found.

Could you please fix this issue as soon as possible since I'm relying on this feature and can'

[2021-01-12 16:14] goozo commented on #302
just wondering if the new release is going to be published soon addressing this issue? cheers.

[2021-03-17 11:46] iainbethune opened #341 "NPM audit fail due to vulnerable dependency on svg2ttf"
[code]

Root cause is fixed in xmldom v0.5.0 but svg2ttf has not yet updated (see https://github.com/fontello/svg2ttf/issues/103)

Would be great if this can get rolled in to the next release 🙏

[2021-04-09 12:08] jimmyandrade commented on #341
Yes, of course! Could you try v10.0.0 (released yesterday) and check if issue persists? Thank you!

[2021-04-09 12:10] jimmyandrade commented on #302
I have great news! Now I can publish packages, so Webfont 10 was released yesterday with many dependency upgrades. (It's a breaking change because we removed support to legacy Node versions).

Could you please try v10.0.0? Thanks!

[2021-04-09 12:12] jimmyandrade commented on #324
@iadibar thanks for reporting. Webfont 10 was released, and I think that this issue was resolved. Could you please check it out? Thanks!

[2021-04-09 12:12] jimmyandrade commented on #324
Thanks for helping us with issues maintenance! :)

[2021-04-09 12:16] jimmyandrade commented on #327
@bilalmalkoc sorry for the delay. Could you please try version 10.0.0 to check if it works? Otherwise, could you try to use svgo for cleaning/optimizing SVGs before processing them with Webfont? Thanks!

[2021-04-11 22:35] #190 closed

[2021-04-16 10:49] iainbethune commented on #341
Updated and working fine for us.  Thankyou!

[2021-04-16 10:49] #341 closed

[2021-04-16 10:57] chrisdjali-wrld3d commented on #302
Looks like this has been resolved now, so I'm closing it.

[2021-04-16 10:57] #302 closed

[2021-05-12 20:10] #280 closed

[2021-05-12 20:18] jimmyandrade commented on #280
Hello @JorisAerts

This issue was fixed by @Ghustavh97 at d66a0d457068b97a1bb747fb0f8ccc473721ff4a and released as [Webfont 10.1.0](https://github.com/itgalaxy/webfont/releases/tag/v10.1.0), already available at [npm](https://www.npmjs.com/package/webfont/v/10.1.0).

[2021-05-12 20:47] JorisAerts commented on #280
Thanks!

[2021-05-12 21:04] #328 closed

[2021-05-12 21:07] jimmyandrade commented on #328
@IgnacioHR thanks for contributing!

Your feature request was accepted and released as [Webfont 11.1](https://github.com/itgalaxy/webfont/releases/tag/v11.1.0) and already available at [npm](https://www.npmjs.com/package/webfont/v/11.1.0).

[2021-06-10 09:22] lehni commented on #174
@jimmyandrade this has been released since, correct? In that case, the issue can be closed?

[2021-06-11 13:16] jimmyandrade commented on #174
@lehni yes, it can be closed. Thanks for helping me to remind it!

[2021-06-14 17:02] #174 closed

[2021-06-16 19:29] TheBotlyNoob opened #426 "add browser compatability"

[2021-06-17 11:42] jimmyandrade commented on #426
@TheBotlyNoob could you bring more details about this issue? Thanks

[2021-06-17 16:46] TheBotlyNoob commented on #426
Make this, but for use client side.

[2021-06-18 01:46] jimmyandrade commented on #426
@TheBotlyNoob Sorry, I still don't understand. Can you bring up an example of what's going on with you, and what would need to be done to bring that browser compatibility?

[2021-06-22 19:56] TheBotlyNoob commented on #426
A basic React app to convert fonts client side, make a CSS file, and make HTML showcase, all client-side.

[2021-06-26 02:14] TheBotlyNoob commented on #426
@jimmyandrade

[2021-06-30 21:12] TheBotlyNoob commented on #426
@jimmyandrade

[2021-07-04 00:53] TheBotlyNoob commented on #426
@jimmyandrade

[2021-07-04 14:51] jimmyandrade commented on #426
@TheBotlyNoob  As I understand it, you would like webfont to be browser-compatible, so you could create an application in React to create fonts entirely client-side. I can say that this is not possible with the library we currently have, as it depends on some features that are specific to Node.js, on server-side (`fs`, for example).

Alternatively, you could create some API in Node.js that uses we

[2021-07-04 14:51] #426 closed

[2021-07-08 13:10] XiongC-sss opened #453 "Incomplete after compilation"
**Hello, I encountered a bug in version 11.2.4. Although I used svgo to optimize the svg, it was incomplete after compilation**
`<svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="128" height="128">
    <path d="M512 1013.333c-276.885 0-501.333-224.448-501.333-501.333S235.115 10.667 512 10.667 1013.333 235.115 1013.333 512 788.885 1013.333 512 1013.333zm0-64c241.53

[2021-07-08 13:10] XiongC-sss commented on #453
<svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="128" height="128">
    <path d="M512 1013.333c-276.885 0-501.333-224.448-501.333-501.333S235.115 10.667 512 10.667 1013.333 235.115 1013.333 512 788.885 1013.333 512 1013.333zm0-64c241.536 0 437.333-195.797 437.333-437.333S753.536 74.667 512 74.667 74.667 270.464 74.667 512 270.464 949.333 512 949.333z"
          f

[2021-07-20 08:09] wszydlak opened #457 "Support of ligatures should be configurable"
Starting with `webfont@10` which added support for ligatures all glyphs are generated for 2 unicodes, the second one is for ligature.
This also leeds to generation bigger svg font file (cause it generates for all unicodes).

It would be nice to ha e an option to avoid such behavior and eg. disable ligature support.

Maybe this only needs to add one `if` in https://github.com/itgalaxy/webfont/blob/

[2021-07-27 06:55] lucavb opened #464 "Globby now uses ESM"
Hey,

in your package.json you specified to use the [latest version](https://github.com/itgalaxy/webfont/blob/master/package.json#L44) of `globby`. However, they recently updated to version 12, which is a major update, and have turned [their package into a pure ESM](https://github.com/sindresorhus/globby/releases/tag/v12.0.0) module and now the tests for webfont fail do as well as our usage. The i

[2021-07-27 07:49] Schascha commented on #464
A downgrade to 9.0.0 will help for now.

[2021-07-27 09:52] lucavb commented on #464
Yes and no. Version 9 was not written in TypeScript and does not have a `@types/` package.

[2021-07-27 10:49] wszydlak commented on #464
I agree that this package should not use `latest` versions. It is very risky.

[2021-07-27 12:16] wszydlak commented on #464
I've prepared pull to use correct dependencies versions in #465

This should be released as patch.

`webfont` still needs to bump `globby` and `meow`

[2021-07-27 14:32] #464 closed

[2021-07-27 14:39] jimmyandrade commented on #464
@wszydlak thank you so much.

[v11.2.17](https://github.com/itgalaxy/webfont/releases/tag/v11.2.17) is now available at [npm](https://www.npmjs.com/package/webfont)

[2021-07-28 05:57] mk4arts opened #470 "Cannot use import statement outside a module"
Hi,

i wanted to try out your webfont compiler, but i'm having trouble to get this running...

Everytime i wanna run it, i get
[code]

Repro:

package.json
[code]

generate.js
[code]

I also tried it with the import statement of your docs. As you can see the repro case is pretty simple and should work? What did i do wrong? I also tried to run it through babel, set `{type: "module"}` and all the ot

[2021-07-28 07:03] ppasler commented on #470
Same here :)

[2021-07-28 07:05] db-it commented on #470
Same here :(

[2021-07-28 07:06] wszydlak commented on #470
@jimmyandrade it happend after yesterday updates. There were no changes that could change code compilation to esm, haven't you changed it right before publishing?

[2021-07-28 13:29] #453 closed

[2021-07-28 14:01] jimmyandrade commented on #453
@XiongC-sss did the problem keep happening?

[2021-07-31 22:41] jimmyandrade commented on #470
Hi, @mk4arts. Thank you for reporting this. You did nothing wrong, it was my bad... I've published a wrong package version.

@mk4arts @ppasler @db-it
Please upgrade to `webfont` 11.2.20, where this was fixed.
`11.2.17` version now is deprecated, installing it will ask to upgrade to version 11.2.20.

@wszydlak thank you for helping me with this :)

By the way, I'm trying to make semantic versioning

[2021-08-02 07:52] wszydlak commented on #470
@jimmyandrade  `webfont@11.2.20` works fine ! :)

[2021-08-04 08:24] bwroblewski opened #480 "Error when passing path to javascript config file via '--config' flag"
I receive following error when I provide path to javascript config file via `--config` flag, for example:
`webfont --config path\to\webfont\config\webfont.js`

[code]

[2021-08-04 10:53] wszydlak commented on #480
Hi, it looks like in master branch it is resolved (probably bumping rollup version resolved this). I checked and this errors occurs no more. @jimmyandrade when can we expect some release?

[2021-08-05 10:38] PrashantChittiZS opened #482 "Auditing webfont reveals moderate vulnerability in xmldom"
Running `npm audit` while using webfont v11.2.20, reveals a vulnerability in xmldom which is moderate in serverity.

![image](https://user-images.githubusercontent.com/88488118/128336696-e6587337-93ba-4073-937e-4fb0ecd93c4b.png)

[2021-08-05 16:40] jimmyandrade commented on #482
@PrashantChittiZS thanks for reporting that. What version of `webfont` are you using?

[2021-08-05 16:46] PrashantChittiZS commented on #482
11.2.20

[2021-08-07 00:12] jimmyandrade commented on #482
@PrashantChittiZS thanks. Unfortunately, our library depends on a vulnerable version of the `svg2ttf` package which in turn has this security problem. On my side, I can't solve this as long as the `svg2ttf` library doesn't solve this problem on the other side.

[2021-08-09 07:52] PrashantChittiZS commented on #482
@jimmyandrade thanks for the quick turn around, I have raised an [issue](https://github.com/fontello/svg2ttf/issues/115) regarding the same on `svg2ttf`. Will you be releasing a newer version of webfont, as and when `svg2ttf` fixes the issue on their end?

[2021-08-10 16:49] jimmyandrade commented on #482
@PrashantChittiZS yes, I will :)

[2021-08-24 06:33] Aine06 opened #496 "Cannot read property 'dirname' of undefined"
import { webfont } from "webfont";
"devDependencies":
 {  "webfont": "^11.2.26"
  },

[2021-08-24 06:39] Aine06 commented on #496
import webfont from "webfont";

webfont({
  files: "http:/xxx/xxx.ttf",
  fontName: "my-font-name",
})
  .then((result) => {
    // Do something with result
    Function.prototype(result);
    // Or return it
    return result;
  })
  .catch((error) => {
    throw error;
  });

Something went wrong  load component failed TypeError: Cannot read property 'dirname' of undefined

[2021-08-24 07:06] Aine06 commented on #496
at Object../node_modules/webfont/node_modules/glob-parent/index.js (index.js:4)

[2021-08-24 12:07] jimmyandrade commented on #496
@Aine06 could you describe the bug better, with a clear and concise description of what the bug is?

It would be great if you could add steps to reproduce the behavior and a clear and concise description of what you expected to happen. If applicable, add logs or screenshots to help explain your problem.

Also, please complete the following information:

- OS (e.g. macOS):
- OS Version (e.g. 10.15.

[2021-09-07 18:50] #457 closed

[2021-09-10 15:18] wszydlak commented on #470
@jimmyandrade looks like this issue could be closed

[2021-09-12 16:00] jimmyandrade commented on #470
Thank you @wszydlak

[2021-09-12 16:00] #470 closed

[2021-11-11 21:54] oneezy commented on #175
Step 5 is the most important for me

## Designing Icons
1. Open the icon in **Adobe Illustrator**
2. Use the **Pathfinder** tool to cut out the shape from the circle (`Minus Front`)
3. Select all the paths you want to merge and exclude any internal paths you do not
4. Open your **Pathfinder** and click `Unite` to merge the objects
5. Go to top menu and click `Object` tab, in drop down choose `comp

[2022-02-02 15:45] wkeese commented on #482
Looks like this is fixed, sometime between 11.2.20 and 11.2.26.  I think you can close the ticket.

[2022-02-02 15:46] wkeese commented on #324
Looks like this is fixed in 11.2.26 (or earlier), I think you can close this ticket.

[2022-03-25 03:30] goyney opened #558 "Extreme slowdown on fonts generated by `webfont`"
Hello there! Over at Material Design Icons, we utilize this library to turn our SVG library into webfonts for distribution. Recently, we updated from version 9 to version 11 of `webfont`. The fonts generate without error or issue, but we ran into something very unexpected. The newly generated font files (specifically the woff2, maybe others... need more testing) causes some browser to hang or even

[2022-03-29 04:49] Templarian commented on #558
(Maintainer of Material Design Icons traveling for work) We're going try to get a simplified repo for this after narrowing down the specific version that introduced this. In the issue someone did give a DirectWrite output.

[2022-05-14 19:54] pravi opened #568 "please synchronize versions in npm registry, releases and tags page"
Currently npm registry is at 11.2.26, releases at 11.2.20 and tags are 11.4.0

I'm trying to package webfont for debian and confused about which version to choose.

[2022-05-16 21:20] kdzone opened #569 "CLI round parameter is passed as a string in SVGPathData (Bug)"
If run the Windows command (without config file!!!) :
`webfont %OUT_DIR%/**/*.svg --round 4`

An error occurs:
[code]

[2022-05-18 16:45] pravi opened #572 "Update cosmiconfig module to latest upstream release"
With cosmiconfig 7.0.1, build fails with the following error. I'm packaging webfont for debian and would like to use cosmiconfig 7.0.1 from debian archive (we prefer to use only one version of a module - in rare cases, we can use multiple versions but we prefer to avoid such cases if possible).

[code]

[2022-06-20 02:46] dzhuang opened #581 "svgicon2svgfont.log not implemented"
Although documented, but not found in interface definition.

[2022-09-02 05:58] scharph opened #599 "Is this still maintained?"
Want to use this in my project, but unsure if it is still maintained.
Npm publications and actual releases are out of sync